.app-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f0f0f0;
  color: #333;
  text-align: center;
}

.app-footer p {
  margin: 0;
  font-size: 0.9rem;
}
